# If you only one circle to run on direct commits to master, you can uncomment this out
# and uncomment the filters: *filter-only-master down below too
#
aliases:
  - &filter-only-master
    branches:
      only:
        - master

version: 2
jobs:
  deploy-website:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.9

    steps:
      - checkout
      - run:
        name: Deploying to GitHub Pages
        command: |
          git config --global user.email "frehner@users.noreply.github.com"
          git config --global user.name "CircleCI on behalf of Anthony Frehner"
          echo "machine github.com login frehner password $GITHUB_TOKEN" > ~/.netrc
          cd website && yarn install && GIT_USER=frehner yarn run publish-gh-pages

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
        filters: *filter-only-master
