:root {
  --ifm-color-primary: #1a2e61;
  --ifm-color-primary-dark: #1a2e61;
  --ifm-color-primary-darker: #111e40;
  --ifm-color-primary-darkest: #111e40;
  --ifm-color-primary-light: #1a2e61;
  --ifm-color-primary-lighter: #334857;
  --ifm-color-primary-lightest: #f0c29e;
  --ifm-link-hover-decoration: #f0c29e;
  --ifm-code-font-size: 90%;
}

.navbar__items {
  height: 100%;
}

html[data-theme='dark'] {
  --ifm-link-color: var(--ifm-color-primary-lightest);
  --ifm-link-hover-color: var(--ifm-color-primary-lighter);
  --ifm-menu-color-active: var(--ifm-color-primary-lightest);
  --ifm-contents-link-color: var(--ifm-color-primary-lightest);
}

html[data-theme='dark'] .navbar__link:hover,
html[data-theme='dark'] .navbar__link--active {
  color: var(--ifm-color-primary-lightest) !important;
}

html[data-theme='dark'] .contents .contents__link:hover,
html[data-theme='dark'] .contents .contents__link.contents__link--active {
  color: var(--ifm-link-hover-color) !important;
}

body {
  font-family: -apple-system, system-ui, sans-serif;
  font-size: 16px;
}

.button {
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
  background: var(--ifm-color-white);
  color: var(--ifm-color-primary);
  border: 0.5px solid var(--ifm-color-primary);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: var(--ifm-color-primary);
  color: var(--ifm-color-white);
}

pre {
  display: block;
  overflow-x: scroll;
  background: rgba(27, 31, 35, 0.05);
}

blockquote {
  background-color: rgba(0, 17, 255, 0.05);
  border-left: 5px solid rgba(0, 17, 255, 0.15);
  padding: 15px 30px 15px 15px;
}

blockquote p {
  margin: 0;
}

blockquote p:nth-child(2n) {
  margin: 10px 0 0 0;
}

.footer a {
  color: hsla(0, 0%, 100%, 0.6) !important;
}

.footer a:hover {
  color: var(--ifm-color-white) !important;
}

.footer__logo {
  border-radius: 3px;
  display: block;
  margin: 0 auto 1rem;
  transition: opacity 0.15s ease-in-out;
  height: 24px;
}

.footer__logo img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

.footer__banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  z-index: 1000;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: var(--ifm-color-primary-lightest);
  color: var(--ifm-color-primary-darkest);
}

.footer__banner--actions {
  display: flex;
  align-items: center;
}

.footer__banner--actions div[role=button] {
  cursor: pointer;
  font-weight: 400;
}

.footer__banner .footer__banner--actions a {
  background-color: #ee689f !important;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  margin-left: 16px;
  padding: 4px 8px;
  border-radius: 3px;
}

.footer__item--gh {
  display: block;
  font-size: 0;
}

.footer__item--gh iframe {
  height: 20px;
  border: none;
}

input#search_input_react::placeholder {
  color: darkgrey;
}

#back-to-top {
  background: var(--ifm-color-white);
  color: var(--ifm-color-primary);
  border: solid 0.1px var(--ifm-color-primary);
  transition: all 0.3s ease-in-out;
}

#back-to-top:hover {
  background: var(--ifm-color-primary);
  color: var(--ifm-color-white);
}

@media (max-width: 996px) {
  #back-to-top {
    bottom: 5.5rem;
    right: 0.6rem;
  }
}

.algolia-docsearch-footer {
  display: none;
}

.docusaurus-highlight-code-line {
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.deprecated {
  background: rgb(255, 225, 225);
  border-radius: 3px;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 10px;
  text-transform: uppercase;
}

.args-list {
  list-style: none;
  padding-left: 0.75rem;
}

.args-list > dt {
  font-family: monospace;
  color: var(--ifm-color-primary);
}
html[data-theme='dark'] .args-list > dt {
  color: var(--ifm-color-primary-lightest);
}
.args-list > dd {
  margin: 0 0 0.75rem 0.75rem;
}

.dl-inline {
  padding-left: 0.75rem;
}

.dl-inline dt,
.dl-inline dd {
  display: inline;
}

.dl-inline dt {
  font-family: monospace;
}

.dl-inline dt::after {
  content: ': ';
}

.dl-inline dd {
  margin: 0;
}

.sr-text {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

@media (min-width: 997px) {
  main .row > [class='col'] {
    max-width: 75%;
  }
}
