/* your custom css */
body {
  font-family: -apple-system, system-ui, sans-serif;
  font-size: 16px;
}

.wrapper {
  max-width: 1400px;
}

.fixedHeaderContainer header .headerTitleWithLogo {
  font-weight: 100;
}

.nav-footer .sitemap a {
  margin: 2px 0px;
  padding: 3px 0px;
}

pre {
  display: block;
  overflow-x: scroll;
  background: rgba(27, 31, 35, .05);
}

pre code, code.hljs {
  background: none;
  min-width: 100%;
  padding: 1rem;
}

blockquote {
  background-color: rgba(0,17,255, .05);
  border-left: 5px solid rgba(0,17,255, .15);
}

.fixedHeaderContainer {
  background-color: $secondaryColor;
  border-bottom: solid $primaryColor 0.5px;
}

.navigationSlider .slidingNav ul li a {
  border-bottom: solid 1px transparent;
  color: $primaryColor;
  font-weight: 100;
  padding: 18px 10px;
  transition: all .2s ease-in-out;
}

.navigationSlider .slidingNav ul li a:focus,
.navigationSlider .slidingNav ul li a:hover{
  background-color: inherit;
  border-bottom-color: darkgrey;
  color: $primaryColor;
}

.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a,
.navigationSlider .slidingNav ul li.siteNavItemActive a:hover,
.navigationSlider .slidingNav ul li.siteNavGroupActive a:focus{
  background-color: $secondaryColor;
  border-bottom-color: $primaryColor;
  color: $primaryColor;
}

input#search_input_react#search_input_react {
  background-color: $accentWhite;
  color: $primaryColor;
}

.navSearchWrapper::before {
  border-color: darkgrey;
}

.navSearchWrapper::after {
  background: darkgrey;
}

input#search_input_react::placeholder {
  color: darkgrey;
}

.fixedHeaderContainer header h2 {
  color: $primaryColor;
  font-weight: 300;
}

.homeContainer{
  background: url('../img/splash.svg');
  background-color: $accentWhite;
  background-repeat: no-repeat;
  background-position: 90% 100%;
}

.projectTitle {
  font-weight: 100;
  font-size: 6rem;
  letter-spacing: .9rem;
}

.subHeader {
  font-weight: 100;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  color: $subText;
  margin-bottom: 35px;
}

.index-main-features {
  background-image: linear-gradient(to top left, #000FE0 50%, $primaryColor 50%);
  color: $accentWhite;
}

.index-main-features .container .wrapper h2 {
  color: $accentWhite;
}

.cpOpenSource {
  background: #fff;
  border-radius: 3px;
  display: block;
  margin: 0 auto 1rem;
  opacity: .7;
  transition: opacity 0.15s ease-in-out;
  width: 38px;
}
.cpOpenSource:hover {
  opacity: 1;
}

.cpOpenSource img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 736px) {
  .nav-site a {
    font-weight: 700;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.button {
  background: #fff;
  color: $primaryColor;
  border: solid 0.5px $primaryColor;
  transition: all .3s ease-in-out;
}

.button:hover {
  background: $primaryColor;
  color: $accentWhite;
}

.contributorWrapper {
  margin: 40px 0;
  text-align: center;
}

.container .wrapper .contributorWrapper h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 25px;
}
.container .wrapper .contributorHeader {
  text-align: center;
  padding-bottom: 15px;
}

.contributorsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

.contributor {
  display: inline-block;
  width: 20%;
  min-width: 140px;
}

.contributorImg {
  border-radius: 50%;
  box-shadow: inset 0 0 8px rgba(0,0,0,.15);
  display: block;
  width: 75px;
  padding-bottom: 75px;
  margin: 0 auto;
  background-size: contain;
}

.repoLink {
  display: inline-block;
  text-align: center;
  font-size: 2.75rem;
  margin-bottom: 50px;
  margin-top: 50px;
  line-height: 1em;
  font-weight: 300;
  text-decoration: none;
}

#back-to-top {
  background: $accentWhite; 
  color: $primaryColor;
  border: solid 0.1px $primaryColor;
  transition: all .3s ease-in-out;
}

#back-to-top:hover {
  background: $primaryColor;
  color: $accentWhite;
}

.navSearchWrapper .aa-dropdown-menu {
  border: 1px solid $primaryColor;
  overflow: hidden;
  padding: 0;
}

.algolia-docsearch-footer {
  display: none;
}

.highlighted-line {
  background-color: rgba(0,17,255, .1);
  display: block;
  margin: 0 -1.5rem;
  padding: 0 1.5rem;
}

.filename {
  background: rgba(27, 31, 35, .05);
  border-top: 5px solid rgba(0,17,255, .15);
  display: inline-block;
  font-size: .8rem;
  font-style: italic;
  margin-bottom: 0;
  padding: 1px 8px;
}

.filename + pre > code {
  border-top-left-radius: 0;
}