/* your custom css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:100,400');

.headerWrapper .navigationWrapper .nav-site a {
  color: #fff;
  font-weight: 700;
  line-height: 3;
}

.homeContainer{
  background: url('../img/splash.svg');
  background-repeat: no-repeat;
  background-position: 85% 100%; 
}

.projectTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 100 !important;
  font-size: 500%;
  letter-spacing: .9rem;
}

.subHeader {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100 !important;
  font-size: 110%;
  letter-spacing: .2rem;
  color: #889aaa;
  margin-bottom: 35px;
}

.index-main-features {
  background-image: linear-gradient(to top left, #000FE0 50%, #0011FF 50%);
  color: #fff;
}

.index-main-features .container .wrapper h2 {
  color: #fff;
}

footer .fbOpenSource {
  margin: 0 auto 1em;
  width: 38px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 736px) {
  .nav-site a {
    font-weight: 700;
  }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.button {
  background: #0011FF;
  color: #fff;
}

.button:hover {
  background: #fff;
  color: #0011FF;
}