.doc div {
  margin-left: 20px;
  margin-right: 20px;
}

.docImage {
  flex: 0 1 500px;
  max-width: 500px;
}

.doc img {
  height: 75%;
  max-height: 115px !important;
}

.doc p {
  text-align: center;
}
