.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-image: linear-gradient(to top left, #1a2e61 50%, #111e40 0);
  color: #fff;
}

.featureImage {
  margin: 0 auto;
  max-width: 80px;
}
