.showcase {
  padding: 0 20px 80px 20px;
}

.showcaseHeading {
  font-size: 30px;
  line-height: 1em;
  margin-top: 20px;
  padding: 10px 0;
}

.showcaseHeadingColored {
  color: var(--ifm-color-primary);
}

html[data-theme="dark"] .showcaseHeadingColored {
  color: var(--ifm-color-primary-lightest);
}

.showcaseLogos {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.showcaseLogo {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  background: white;
  margin: 15px;
  border-radius: 8px;
  padding: 5px;
  justify-content: center;
}
